EXPO_PUBLIC_SUPABASE_URL=https://aqhzvbskqbdcelpziswu.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFxaHp2YnNrcWJkY2VscHppc3d1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDYyMTQzNDAsImV4cCI6MjA2MTc5MDM0MH0.hC7jTi7sWUEgP-kI3MgcYjSbVOiFxp-yZOZL16KCSy4